html,
body,
.tiles {
  font-family: 'Product Sans', Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.logo{
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.logo>img{
  height: 30px;
  width: 200px;
}